body {
  background-color: #81364560;
  padding: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#mainTitle {
  text-align: center;
}

h1 {
  color: lightgreen;
  text-align: center;
}

h3 {
  color: blue;
}

p {
  color: red;
}

.border1-style {
  border-style: solid;
  border-color: black;
  border-width: 15px;
  border-radius: 10px;
  background-color: gray;
  padding: 5px 5px 5px 5px;
}

.border2-style {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 10px;
  background-color: lightgray;
}

.align {
  display: flex;
  justify-content: space-evenly;
}
